  <div lass="col-md-12" > 

<ul class="breadcrumb" style="padding-left:150px; margin-bottom:0;">
    <li><a href="/">Home</a></li>
  
    <li><a href="/voyages">Itineraries</a></li>
    <li><a href="/voyages/<%= @voyage_id %>/matches">Matches</a></li>
    <li><a class="active">Crew Members</a></li>
</ul>

<div id="photo">
 <img src="/images/cruise4.jpg" alt="" style="width: 100%;" >
</div>


  <section id="description" style="margin-top:0;">   <div class="container">
  <div>  
  <h2 style="text-align:center">Crew on the <%= @ship_name %></h2> 
  <h2 style="text-align:center">at <%= @city %> on <%= @date %></h2>  


  <section id="timeline">
    <div class="container-fluid wow fadeInRight" data-wow-duration="1s">
      <div id="timeline-slider" class="owl-carousel">

        <% @crew_members.each do |c| %>
          <div class="item">
              <div class="photo"><img src="<%= c.gravatar_url %>" alt="Lector1" class="img-circle"></div>              
              <div class="desc">            
                <h3><%= c.full_name %></h3>
                <p><%= c.email %></p>
                <p><%= c.nationality %></p>
                <p><%= @ship_name%></p>
                <%  if @user.is_friend?(c)
                      @button = "<button id='#btn-unfriend'>Unfriend</button>" 
                    else
                      @button = "<button id='#btn-addFriend'>Add friend</button>"
                    end
                    @button = 'This is you' if c == @user
                %>                
                <%= @button %>
              </div>
          </div>
        <% end %>
      </div>
    </div> 
  </section>

</div>


      </div>
    </section>
</div>