  <div lass="col-md-12" > 

<ul class="breadcrumb" style="padding-left:150px; margin-bottom:0;"">
    <li><a href="/">Home</a></li>
    <li><a href="/voyages">Itineraries</a></li>
    <li><a href="matches">Matches</a></li>
    <li><a class="active">Friends</a></li>
</ul>
  <div id="photo">
<img src="/images/cruise3.jpg" alt="" style="width: 100%;" ></div>

  <section id="description"  style="margin-top:0;">
    <div class="container">

<div>
<h2 style="text-align:center">Your friends on the <%= @ship_name %></h2>   
  <section id="timeline">
    <div class="container-fluid wow fadeInRight" data-wow-duration="1s">
      <div id="timeline-slider" class="owl-carousel">

        <% @friends_list.each do |c| %>
          <div class="item">
              <div class="photo"><img src="<%= c.gravatar_url %>" alt="Lector1" class="img-circle"></div>
              
              <div class="desc">
              
                <h3><%= c.full_name %></h3>
                <p><%= c.email %></p>
                <p><%= c.nationality %></p>
                <p><%= @ship_name%></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </section>
</div>

</div>
</section>
</div>
