

  <div> 
 
  <section id="description">
    <div class="container">
    

      <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
       <h2 style="text-align:center">Hi <%= current_user.full_name %>, here are your itineraries</h2> 
        </div>
      </div>
      
    <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
        <form>
          <table class="table table-hover">
            <thead>
              <tr class="title">
                <th colspan="4" style="text-align: center;">Itineraries</th>
              </tr>
              <tr>
                <th>Date</th>
                <th>Ship</th>
                <th>Port</th>
                <th>Matches</th>
              </tr>
            </thead>

            <tbody>
            <% @crew_member.voyages.each do |v| %>
              <tr>
                <td><%= v.start_date %> - <%= v.end_date %> </td>
                <td><%= v.ship[:name] %></td>
                <td><%= v.start_port[:city] %> - <%= v.start_port[:country] %> </td>
                <td>  <a href="/voyages/<%= v.id %>/matches">Let's check this one</a> </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          </form>
        </div>
     </div>
    
    </div>   
  </section>

 
  </div>

