
   <div lass="col-md-12" > 

<ul class="breadcrumb" style="padding-left:150px; margin-bottom:0;">
    <li><a href="/">Home</a></li>
    <li><a href="voyages">Itineraries</a></li>
    <li><a class="active">Matches</a></li>
</ul>
   <div id="photo">
<img src="/images/cruise6.jpg" alt="" style="width: 100%;" ></div>

  <section id="description"  style="margin-top:0;">
    <div class="container">
      
      <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
          <h2 style="text-align:center"> List of matching itineraries at <%= @port %> on <%= @date %></h2>  
        </div>
      </div>
      
    <div class="row wow fadeInLeft" data-wow-duration="1.5s" data-wow-offset="100">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr class="title">
                <th colspan="4" style="text-align: center;">Ships on port and you friends</th>
              </tr>
              <tr>
                <th>Ships on Port</th>
                <th colspan="2"  >Friends on Board</th>
               
                <th>Crew Members</th>
              </tr>
            </thead>
            <tbody>
              <% @voyages.each do |v| %>
              <% @friend_list = @user.friends_on_voyage(v.id) %>
              <% @ship_name = v.ship.name %>
                <tr>
                  <td><%= @ship_name %></td>
                  <td>faces</td>
                  <td><%= @friend_list.length %> - <a href='/voyages/<%= @voyage.id %>/matches/<%= v.id %>/friends/'> See Who</a></td>
                  <td><%= v.crew_members.length %> - <a href='/voyages/<%= @voyage.id %>/matches/<%= v.id %>/crew/'> See Who</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
     </div>
    
    </div>   
  </section>

 
  </div>
  
